<% if not notice.nil? %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <b>Имя:</b>
  <%= @order.name %>
</p>

<p>
  <b>Адрес:</b>
  <%= @order.address %>
</p>

<p>
  <b>Электронная почта:</b>
  <%= @order.email %>
</p>

<p>
  <b>Способ оплаты:</b>
  <%= @order.pay_type %>
</p>


<%= link_to 'Редактировать', edit_order_path(@order) %> |
<%= link_to 'Назад', orders_path %>
